*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.row{
    background-color: rgba(144,212,197,255);
}
.column img{
    width: 25vw;
}

.column{
    display: flex;
}

.redes{
    display: flex;
    justify-content: center;
}

.redes img{
    width: 15px;
    padding-bottom: 30px;
    margin:20px;

}

.centrar{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu h2{
    color: rgba(45,116,102,255);
    font-weight: bold;
 
}

.links{
    display: flex;
    justify-content: center;
}
.links a{
    text-decoration: none;
    margin:20px;
    color: rgba(70,138,123,255);
}

@media (max-width: 800px){
}
